/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/resources/js/locales/*.json
!/resources/js/locales/en.json
!/resources/js/locales/bn.json
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/js/*
/public/uploads
